# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python virtual environments
.venv/
venv/
env/
ENV/

# Environment files
*.env
.env.*
*.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
